# BENCOL APP - VARIABLES DE ENTORNO

# SPRING

SPRING_PROFILES_ACTIVE=prod
SERVER_PORT=8080


# BASE DE DATOS

DB_URL=jdbc:mysql://localhost:3306/bencol_system?useSSL=false&serverTimezone=America/Lima&allowPublicKeyRetrieval=true
DB_USERNAME=bencol_user
DB_PASSWORD=CAMBIAR_POR_PASSWORD_SEGURA


# JWT

BENCOL_JWT_SECRET=CAMBIAR_POR_SECRETO_JWT_SEGURO
JWT_EXPIRATION_MINUTES=480


# ADMINISTRADOR INICIAL

BENCOL_ADMIN_USERNAME=adminbencol
BENCOL_ADMIN_EMAIL=admin@bencol.com
BENCOL_ADMIN_PASSWORD=CAMBIAR_POR_PASSWORD_ADMIN_SEGURA


# LOGS

LOG_FILE=logs/bencol-app.log